<!DOCTYPE html>
<html>
<head>
    <title>CSRF Attack Demo</title>
    
</head>
<body>
    <h1>CSRF Attack Demo 可信任的原網站</h1>
    <form id="csrfForm">
        {{ .csrfField}}
        <input type='submit' value='刪除使用者'>
    </form>
    <h1>
    <h1>
        csrf-token:
        {{ .csrf }}
        <br/>
        hello! {{ .name }}
        <br/>
    </h1>
    <h5>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr> 
        {{range .students}}    
                <tr>
                    <th>{{.Id}}</th>
                    <th>{{.Name}}</th>
                </tr>     
        {{end}}
        </table>
    </h5>
    <!-- <iframe style="display:none;" name="csrf-frame"></iframe> -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        // axios
        document.getElementById("csrfForm").addEventListener("submit", function(event) {
            event.preventDefault(); // 阻止表单的默认提交行为
            let csrfToken = document.getElementsByName("gorilla.csrf.Token")[0].value
            const instance = axios.create({
                baseURL: "http://localhost:8080/",
                timeout: 1000,
                headers: { "X-CSRF-Token": csrfToken },
            })
            instance.delete("user/api/delete/134")
            .then(response => {
                 // 请求成功，处理响应数据
                console.log(response.data);
            })
            .catch(error => {
                // 请求失败，处理错误
                console.error(error);
            });
        })
        
        // xhr 寫法複習
        // document.getElementById("csrfForm").addEventListener("submit", function(event) {
        //     event.preventDefault(); // 阻止表单的默认提交行为
        //     // 設置 Cookie
        //     // document.cookie = "jwt-token=pass; expires=Sat, 31 Dec 2023 23:59:59 UTC; path=/";
        //     // 讀取 Cookie
        //     // var cookieValue = document.cookie;
        //     // console.log("cookieValue:",cookieValue);
        //     // 构建DELETE请求
        //     // var xhr = new XMLHttpRequest();
        //     // xhr.open("DELETE", "http://localhost:8080/user/api/delete/100");

        //     // 发送请求
        //     xhr.withCredentials = true; // 允許攜帶 cookie
        //     xhr.send();
        //     console.log(xhr)
        //     // 可选：处理响应
        //     xhr.onload = function() {
        //         if (xhr.status === 200) {
        //             console.log("Request successful");
        //         } else {
        //             console.log("Request failed");
        //         }
        //     };
        // });
    </script>
</body>
</html>